<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer id="footer-part">
  <div class="footer-top pt-40 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-about mt-40">
            <div class="logo">
              <a href="#"><img src="images/logo-2.png" alt="Logo"></a>
            </div>
            <p>LCMS는 기업, 학습자, 학부모 등 다양한 대상에게 맞춤형 학습 경험을 제공하며, 교육 관리와 역량 강화를 지원하는 강력한 도구입니다. 이를 통해 교육 효율성, 비용 절감, 성과 개선, 학습자의 자기 개발을 촉진하고,다양한 교육 요구를 만족시킬 수 있습니다.</p>
            <ul class="mt-20">
              <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div> <!-- footer about -->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="footer-link mt-40">
            <div class="footer-title pb-25">
              <h6>사이트 맵</h6>
            </div>
            <ul>
              <li><a href="index-2.html"><i class="fa fa-angle-right"></i>홈</a></li>
              <li><a href="about.html"><i class="fa fa-angle-right"></i>사이트 정보</a></li>
              <li><a href="courses.html"><i class="fa fa-angle-right"></i>강의</a></li>
              <li><a href="blog.html"><i class="fa fa-angle-right"></i>소식</a></li>
              <li><a href="events.html"><i class="fa fa-angle-right"></i>이벤트</a></li>
            </ul>
            <ul>
              <li><a href="#"><i class="fa fa-angle-right"></i>갤러리</a></li>
              <li><a href="shop.html"><i class="fa fa-angle-right"></i>장바구니</a></li>
              <li><a href="teachers.html"><i class="fa fa-angle-right"></i>강사</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>지원</a></li>
              <li><a href="contact.html"><i class="fa fa-angle-right"></i>공지사항</a></li>
            </ul>
          </div> <!-- footer link -->
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="footer-link support mt-40">
            <div class="footer-title pb-25">
              <h6>지원</h6>
            </div>
            <ul>
              <li><a href="#"><i class="fa fa-angle-right"></i>FAQS</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>약관</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>정책</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>지원</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>자료실</a></li>
            </ul>
          </div> <!-- support -->
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-address mt-40">
            <div class="footer-title pb-25">
              <h6>고객센터</h6>
            </div>
            <ul>
              <li>
                <div class="icon">
                  <i class="fa fa-home"></i>
                </div>
                <div class="cont">
                  <p>서울특별시 서초구 동작대로 132</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="cont">
                  <p>010 1234 5678</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <i class="fa fa-envelope-o"></i>
                </div>
                <div class="cont">
                  <p>kosmo@gmail.com</p>
                </div>
              </li>
            </ul>
          </div> <!-- footer address -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- footer top -->

  <div class="footer-copyright pt-10 pb-25">
    <div class="container">
      <div class="row">
        <!--                <div class="col-md-8">-->
        <!--                    <div class="copyright text-md-left text-center pt-15">-->
        <!--                        <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a> </p>-->
        <!--                    </div>-->
        <!--                </div>-->
        <div class="col-md-4">
          <div class="copyright text-md-right text-center pt-15">

          </div>
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- footer copyright -->
</footer>

</body>
</html>